# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
.Python
venv/
env/

# Flask
instance/

# Environment variables
.env

#To-do list
to-do.txt
.vercel

external_llm_DA_task/
corporate-translate-end.tar
corporate-translate-start.tar
