<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <title>Corporatise</title>
</head>

<body>
  <h1>Edson's corporate translater </h1>
  <button onclick="toggleDarkMode()">Toggle Dark Mode</button>
  <div class="main-container">
    <div class="main-content">
      <form action="/transform" method="post">
        <h2>Enter a Phrase</h2>
        <textarea name="input_phrase" required></textarea>
        <button type="submit">Transform</button>
      </form>
    </div>
  </div>

  <!-- Include the JavaScript for dark mode toggle -->
  <script>
    // Function to toggle dark mode
    function toggleDarkMode() {
      const body = document.body;
      body.classList.toggle("dark-mode");

      // Save the dark mode preference in a cookie
      const darkModeEnabled = body.classList.contains("dark-mode");
      document.cookie = `darkMode=${darkModeEnabled}; path=/`;
    }

    // Check if dark mode is enabled from the cookie
    const darkModeCookie = document.cookie.split('; ').find(row => row.startsWith('darkMode='));
    if (darkModeCookie) {
      const darkModeEnabled = darkModeCookie.split('=')[1] === 'true';
      if (darkModeEnabled) {
        document.body.classList.add('dark-mode');
      }
    }
  </script>
</body>

</html>