<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <title>Corporatise</title>
</head>

<body>
  <h1>Edson's corporate translater </h1>
  <button onclick="toggleDarkMode()">Toggle Dark Mode</button>
  <div class="main-container">
    <div class="main-content">
      <form id="transformForm" action="/transform" method="post">
        <h2>Enter a Phrase</h2>
        <textarea id="inputPhrase" name="input_phrase" required></textarea>
        <button type="submit">Transform</button>
        <p> Note: If the phrase entered does not make sense to the AI, <br> the server may time out and redirect you to a 504 Error page.<br> This is expected behavour, where the fix is to go back and <br> re-enter a different phrase. </p>
      </div>
      </form>

  </div>

  <script>

    // Function to trigger button click on Enter key press
    document.getElementById('inputPhrase').addEventListener('keydown', function (e) {
      if (e.key === 'Enter' && !e.shiftKey) {
        e.preventDefault();  // Prevent the default behavior (newline)
        document.getElementById('transformForm').submit();  // Trigger the form submission
      }
    });

    // Function to toggle dark mode
    function toggleDarkMode() {
      const body = document.body;
      body.classList.toggle("dark-mode");

      // Save the dark mode preference in a cookie
      const darkModeEnabled = body.classList.contains("dark-mode");
      document.cookie = `darkMode=${darkModeEnabled}; path=/`;
    }

    // Check if dark mode is enabled from the cookie
    const darkModeCookie = document.cookie.split('; ').find(row => row.startsWith('darkMode='));
    if (darkModeCookie) {
      const darkModeEnabled = darkModeCookie.split('=')[1] === 'true';
      if (darkModeEnabled) {
        document.body.classList.add('dark-mode');
      }
    }
  </script>
</body>

</html>