/* static/styles/styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: black;
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;  /* Adjust as needed */
  /* min-width: 300px;    
  min-height: 200px;    */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  position: relative;
  width: auto;  /* Let the content dictate the width */
  height: auto;  /* Let the content dictate the height */
  min-width: 520px;   /* Minimum width */
  min-height: 450px;  /* Minimum height */
  max-width: 1000px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
}

.main-container::before {
  width: 100px;
  height: 100px;
  content: "";
  position: absolute;
  background-color: rgb(144, 161, 255);
  z-index: -1;
  border-radius: 50%;
  left: 100px;
  top: 50px;
  transition: all 1s;
}

.main-container:hover::before {
  transform: translate(-50px, 50px);
}


/* Making it so that input and button are in different lines */
.main-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add this style for resizable textarea */
.main-content textarea {
  resize: both;
  overflow: auto;
  width: 100%;  /* Full width of the container */
  min-width: 350px;
  min-height: 50px;
  max-width: 1000px;
  max-height: 400px;
  margin-bottom: 10px;  /* Spacing between textarea and button */
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.4); /* Adjust the alpha channel (0.0 to 1.0) for transparency */
  backdrop-filter: blur(30px);
}

.main-content button {
  width: 100%;  /* Full width of the container */
}